* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin:0px;
}

/* --header-------------------------------------------------------------------------------------------- */

h1 {
    font-size:40px;
}

.h1color1 {
    color:#90EE90;
}

.h1color2 {
    color:#008000;
}

.h1color3 {
    color:#006400;
}

h2 {
    font-family:cursive;
}

.flexheader {
    display:flex;
    justify-content:space-between;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.headercontainer {
    display:flex;
    padding:0 0 0 40px;
}

/* --navbar-------------------------------------------------------------------------------------------- */



.navbar {
    display:flex;
    align-items:center;
    justify-content:flex-end;
    margin-right:60px;
}

.navbarlink {
    padding:10px;
}

.navbar a {
    position:relative;
    font-size:30px;
    text-decoration:none;
    color:black;
    margin-left:40px
}

.navbar a::before {
    content:'';
    position:absolute;
    top:100%;
    left:0;
    width:0;
    height:2px;
    background:#000;
    transition:0.3s;
}

.navbar a:hover::before {
    width:100%;
}

li {
    list-style:none;
  }
  
  .nav-bar {
    display:flex;
    min-height:70px;
    justify-content:space-between;
    align-items:center;
    padding:0 24px;
  }
  
  .nav-menu {
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:5px;
  }
  
  .nav-barlink {
    transition:0.7s ease;
  }
  
  .nav-barlink:hover {
    color:dodgerblue;
  }
  
  .hamburger {
    display:none;
    cursor:pointer;
    padding-left:10px;
  }
  
  .bar {
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    --webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:#006400;
  }

@media (max-width:768px){
    .hamburger {
        display:block;
    }
      
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45-deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45-deg);
    }
      
    .nav-menu {
        position:fixed;
        left: -100%;
        top:140px;
        gap:0;
        flex-direction: column;
        background-color:#006400;
        width:100%;
        text-align:center;
        transition: 0.3s;
    }
      
    .nav-item {
        margin: 16px 0;
    }
      
    .nav-menu.active {
        left:0;
    }

}

/* --einde navbar------------------------------------------------------------------------------------- */
/* --einde header------------------------------------------------------------------------------------- */ 

/* --main--------------------------------------------------------------------------------------------- */

.frontimage {
    height:calc(100vh - 100px)
}

.section1, .section2 {
    margin-top:80px;
}

.section1 p, .section2 p {
    font-size:20px;
    text-align: center;
    padding:10px 10px 10px 10px;
    margin:10px 350px 10px 350px;
    color:#006400;
}

.section1 h2, .section2 h2 {
    font-size:30px;
    display:flex;
    justify-content:center;
}

.section1 img, .section2 img {
    border-radius:30px;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* --nieuwsbrief----------------------------------------------------------------------------------------*/

.nieuwsbrief {
    margin:200px 0 15px 50px;
    text-align:left;
}

form {
    display:flex;
    flex-direction:row;
}

.aanmelden {
    display:flex;
    color:#fff;
    font-size:30px;
    background-color:#3A7D44;
    border-radius:40px;
    margin:0 0 0 0;
    padding:10px 60px 10px 60px;
}

input {
    padding:20px 200px 20px 50px;
}

/* --einde nieuwsbrief-------------------------------------------------------------------------------- */

/* --einde main--------------------------------------------------------------------------------------- */


/* --footer------------------------------------------------------------------------------------------- */

footer {
    display:flex; 
    align-items: center;
    flex-direction: column;
    justify-content:center;   
    background-color:#69B578;
    opacity:70%;
}


/* --einde footer------------------------------------------------------------------------------------- */

